@import "normalize";
@import "foundation";
@import "autocomplete";
@import "alertify";
@import "font-awesome";

$primary-color: #00e6ae;

*{
    outline: none !important;
}

body{
    padding: 20px 10px 0px 10px;
    font-family: "Lucida Grande", Geneva, Arial, Verdana, sans-serif;
    font-size: 12px;
}

p, label, table tr td, table thead tr th, li{
    font-size: 12px;
}

.header {
}

.row {
    max-width: 100%;
    margin-bottom: 20px;

    &:last-child{
        margin-bottom: 0px;
    }
}

.switchlabel{
    display: inline-block;
    padding-left: 7px;
    padding-right: 7px;
    margin-top: 2px;
}

.ui-autocomplete{
    background: #fff;
    font-size: 12px;
    border: 1px solid #ccc;

    li{
        list-style: none;
    }
}

.row.error input{
    border: 1px solid #ff5e4c;
}

input, textarea{
    box-shadow: none !important;
}

button[type=submit]{
    margin-right: 10px;
    margin-bottom: 0px;
    width: 100px;
}

.hidden{
    display: none;
}

.note{
    font-size: 12px;
    color: #aaa;
}

#results{
    .button-group{
        display: inline-block;
    }

    li{
        line-height: 15px;
        margin-bottom: 8px;
        cursor: pointer;
    }

    .results{
        position: relative;
    }

    .fa-spin{
        font-size: 20px;
        position: absolute;
        right: 25px;
        top: 20px;
    }
}

fieldset{
    margin-top: 0px;

    div:last-child > hr {
        display: none;
    }
}

#detailCtrl{
    ul{
        margin-bottom: 0px;
    }
}